In [4]:
from __future__ import division       
import math
#import matplotlib as mpl              ### May need to uncomment these two lines for mac osx users
#mpl.use('TkAgg')                      ###
from matplotlib import pyplot as plt
plt.style.use('ggplot')
import pandas as pd
import numpy as np
%matplotlib inline

Lets load in the dataset

In [3]:
df = pd.read_csv("data/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [ ]:
df.tail()

Lets see the types that were imported on our behalf

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.describe()

See the shape of the dataset

In [ ]:
df.shape

Here we can see the that it has 891 rows of data and 12 attributes worth of imformation.

In [ ]:
len(df)

In [ ]:
len(df.columns)

In [ ]:
# where df.columns is 
df.columns

In [ ]:
df["Name"]

In [ ]:
my_famous_passenger = df[df["Name"] == "Guggenheim, Mr. Benjamin"]
print(my_famous_passenger)

In [ ]:
###Lets get some information about a column

### Like mean age on the boat
df["Age"].mean()

### Fare
df["Fare"].mean()
df["Fare"].describe()

In [ ]:
my_rich_passenger = df[df["Fare"] == 512.3292]
print(my_rich_passenger)

In [ ]:
####Lets rearrange some columns. This would be very hard to do using a csv library and doing this by hand.
####Panda allows us to do this very intuitively
cols = list(df.columns.values)
print(cols)

In [ ]:
#Using that list above, we can create a new list, with the values rearranged.
cols = ['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'PassengerId']
new_df = df[cols]
new_df.head()

In [ ]:
#### We can create new dataframes from a few attributes
new_df = df[["Sex","Age"]]
new_df.head()

In [ ]:
df_of_women = df[df["Sex"] == "female"] #### Elaborate and find out what it means to df a df? Look up panda series
df_of_men = df[df["Sex"] == "male"]

In [ ]:
df_of_women.head()

In [ ]:
df_of_women.head()

In [ ]:
# Excercise 
# Create three data frames. Capture them by passenger class 'PClass'. 
# There are three of them. Then figure out the size of each one.

In [ ]:
df_pclass_1 = df[df["Pclass"] == 1]
df_pclass_1.head()
df_pclass_1.shape

In [ ]:
df_pclass_2 = df[df["Pclass"] == 2]
df_pclass_2.head()
df_pclass_2.shape

In [ ]:
df_pclass_3 = df[df["Pclass"] == 3]
df_pclass_3.head()
df_pclass_3.shape

Observations: There were many people in third class. More so than the other two class of passengers combined.

We can create new attributes from other attributes!

In [ ]:
df['FamilySize'] = df['SibSp'] + df['Parch']
df.head()

Since we know that Parch is the number of parents or children onboard, and SibSp is the number of siblings or spouses, we could collect those together as a FamilySize

In [ ]:
df["Age"].hist()

In [ ]:
df["Age"].dropna().hist(bins=16, range=(0,80))

In [ ]:
df["Fare"].hist()

In [ ]:
plt.scatter(df['Fare'], df['Survived'])
plt.show()

In [ ]:
### Side step
# Lets create a scatter plot

d = {'one' : np.random.rand(10),
     'two' : np.random.rand(10)}
print(d)

In [ ]:
df_scrap = pd.DataFrame(d)
df_scrap.plot(style=['ro','bx'])

In [ ]:
##### Back to the titanic. So we have our original dataset
df.head()

In [ ]:
#### Lets group them by gender
grouped_by_sex = df.groupby(["Sex"])
grouped_by_sex.describe()

In [ ]:
#### Lets group them by gender
grouped_by_sex_and_pclass = df.groupby(["Sex", "Pclass"])
grouped_by_sex_and_pclass.describe()

In [ ]:
#### Lets group them by gender
grouped_by_sex_and_pclass_survived = df.groupby(["Sex", "Pclass", "Survived"])
grouped_by_sex_and_pclass_survived.describe()

In [ ]:
df.groupby(['Sex', 'Pclass',"Survived"]).count() ### Count of records in each group throughout a dataset